In [3]:
#installing kaggle
!pip install kaggle

Requirement already satisfied: kaggle in d:\python\python37\lib\site-packages (1.7.4.5)
Requirement already satisfied: idna in d:\python\python37\lib\site-packages (from kaggle) (3.4)
Requirement already satisfied: requests in d:\python\python37\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: certifi>=14.05.14 in d:\python\python37\lib\site-packages (from kaggle) (2022.9.24)
Requirement already satisfied: charset-normalizer in d:\python\python37\lib\site-packages (from kaggle) (2.1.1)
Requirement already satisfied: text-unidecode in d:\python\python37\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: webencodings in d:\python\python37\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: protobuf in d:\python\python37\lib\site-packages (from kaggle) (3.19.6)
Requirement already satisfied: tqdm in d:\python\python37\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: setuptools>=21.0.0 in d:\python\python37\lib\site-packages (from kaggle) (68.0.0)
Requirement already satisfied: python-dateutil>=2.5.3 in d:\python\python37\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in d:\python\python37\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3>=1.15.1 in d:\python\python37\lib\site-packages (from kaggle) (1.26.12)
Requirement already satisfied: bleach in d:\python\python37\lib\site-packages (from kaggle) (5.0.1)
Requirement already satisfied: six>=1.10 in d:\python\python37\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: colorama in d:\python\python37\lib\site-packages (from tqdm->kaggle) (0.4.4)

WARNING: Ignoring invalid distribution -ensorflow (d:\python\python37\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (d:\python\python37\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (d:\python\python37\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (d:\python\python37\lib\site-packages)

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
#importing libraries
import kaggle

In [5]:
#downloading the dataset using api
#!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

In [6]:
#reading the csv file and handling the null values
import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [7]:
#renaming the column names
#df.rename(columns={'Order Id':'order_id','Order Date':'order_date','Ship Mode':'ship_mode','Segment':'segment','Country':'country','City':'city','State':'state','Postal Code':'postal_code','Region':'region','Category':'category','Sub Category':'sub_category','Product Id':'product_id','cost price':'cost_price','List Price':'list_price','Quantity':'quantity','Discount Percent':'discount_percent'})
#another way
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")
df.columns
df.head(10)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [8]:
#creating the required new columns like discount, selling price, profit
df['discount'] = (df['list_price'] * df['discount_percent']) / 100
df['selling_price'] = df['list_price'] - df['discount']
df['profit'] = df['selling_price'] - df['cost_price']
df.head(10)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5,45.5,864.5,4.5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3,3.3,106.7,16.7

In [9]:
#convert the data type of order_date of object datetime to normal datetime
df['order_date'] = pd.to_datetime(df['order_date'],format="%Y-%m-%d")
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
selling_price              float64
profit                     float64
dtype: object

In [10]:
#removing the columns cost price, list price and discount percent
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)
#after running the above command once it will show error because deleted columns are removed from original data, so after its operation commenting it. 
df.head(10)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,4,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,45.5,864.5,4.5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,3,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,5,3.3,106.7,16.7

In [11]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\python\python37\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in d:\python\python37\lib\site-packages (from mysql-connector-python) (3.19.6)

WARNING: Ignoring invalid distribution -ensorflow (d:\python\python37\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (d:\python\python37\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (d:\python\python37\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (d:\python\python37\lib\site-packages)

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
import mysql.connector

# Replace with your MySQL credentials and database
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="MYSQL@123",
    database="MYSQL_Prac"
)

Connection = db.cursor()
print(f"Connection Succesfull {db}")

Connection Succesfull <mysql.connector.connection.MySQLConnection object at 0x0000022B992D30B8>

In [21]:
#creating table with actual column names and types from your CSV
# ensure to truncate the table df_orders_table in mysql when execute again or it will append the repeated values again and again so that result will not be coorect. 
create_table_query = """
CREATE TABLE IF NOT EXISTS df_orders_table (
    order_id INT,
    order_date DATE,
    ship_mode VARCHAR(20),
    segment VARCHAR(20),
    country VARCHAR(20),
    city VARCHAR(20),
    state VARCHAR(20),
    postal_code VARCHAR(20),
    region VARCHAR(20),
    category VARCHAR(20),
    sub_category VARCHAR(20),
    product_id VARCHAR(50),
    quantity INT,
    discount DECIMAL(7,2),
    selling_price DECIMAL(7,2),
    profit DECIMAL(7,2)
)
"""
Connection.execute(create_table_query)
print("Table Created")

Table Created

In [22]:
df['order_date'] = df['order_date'].dt.strftime('%Y-%m-%d')  # avoids timestamp errors

AttributeError: Can only use .dt accessor with datetimelike values

In [23]:
#inserting into db
data = df[[
    'order_id',
    'order_date',
    'ship_mode',
    'segment',
    'country',
    'city',
    'state',
    'postal_code',
    'region',
    'category',
    'sub_category',
    'product_id',  
    'quantity',
    'discount',
    'selling_price',
    'profit'
]].values.tolist()

insert_query = """
INSERT INTO df_orders_table (
    order_id,
    order_date,
    ship_mode,
    segment,
    country,
    city,
    state,
    postal_code,
    region,
    category,
    sub_category,
    product_id,
    quantity,
    discount,
    selling_price,
    profit
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

Connection.executemany(insert_query, data)
db.commit()
Connection.close()
db.close()
print("CSV data inserted into MySQL.")

CSV data inserted into MySQL.